# Customer Churn Prediction

<img src='img2.png' style='width=100%'>

# <font color = 'red'>2 - Data Preprocessing</font>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('Telco_customer_churn.csv.xlsx')

In [3]:
df.tail()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,...,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No,0,45,5306,NaN
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,...,One year,Yes,Mailed check,84.80,1990.5,No,0,59,2140,NaN
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,...,One year,Yes,Credit card (automatic),103.20,7362.9,No,0,71,5560,NaN
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,...,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793,NaN
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,...,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0,38,5097,NaN

In [4]:
df.shape

(7043, 33)

In [5]:
df.describe()

,Count,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Churn Value,Churn Score,CLTV
count,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.0,93521.964646,36.282441,-119.798880,32.371149,64.761692,0.265370,58.699418,4400.295755
std,0.0,1865.794555,2.455723,2.157889,24.559481,30.090047,0.441561,21.525131,1183.057152
min,1.0,90001.000000,32.555828,-124.301372,0.000000,18.250000,0.000000,5.000000,2003.000000
25%,1.0,92102.000000,34.030915,-121.815412,9.000000,35.500000,0.000000,40.000000,3469.000000
50%,1.0,93552.000000,36.391777,-119.730885,29.000000,70.350000,0.000000,61.000000,4527.000000
75%,1.0,95351.000000,38.224869,-118.043237,55.000000,89.850000,1.000000,75.000000,5380.500000
max,1.0,96161.000000,41.962127,-114.192901,72.000000,118.750000,1.000000,100.000000,6500.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
CustomerID           7043 non-null object
Count                7043 non-null int64
Country              7043 non-null object
State                7043 non-null object
City                 7043 non-null object
Zip Code             7043 non-null int64
Lat Long             7043 non-null object
Latitude             7043 non-null float64
Longitude            7043 non-null float64
Gender               7043 non-null object
Senior Citizen       7043 non-null object
Partner              7043 non-null object
Dependents           7043 non-null object
Tenure Months        7043 non-null int64
Phone Service        7043 non-null object
Multiple Lines       7043 non-null object
Internet Service     7043 non-null object
Online Security      7043 non-null object
Online Backup        7043 non-null object
Device Protection    7043 non-null object
Tech Support         7043 non-null object
Streaming TV         7043 non-null object
Streaming Movies     7043 non-null object
Contract             7043 non-null object
Paperless Billing    7043 non-null object
Payment Method       7043 non-null object
Monthly Charges      7043 non-null float64
Total Charges        7043 non-null object
Churn Label          7043 non-null object
Churn Value          7043 non-null int64
Churn Score          7043 non-null int64
CLTV                 7043 non-null int64
Churn Reason         1869 non-null object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

# <font color = 'green'> Removing Data </font>

In [7]:
df.nunique()

CustomerID           7043
Count                   1
Country                 1
State                   1
City                 1129
Zip Code             1652
Lat Long             1652
Latitude             1652
Longitude            1651
Gender                  2
Senior Citizen          2
Partner                 2
Dependents              2
Tenure Months          73
Phone Service           2
Multiple Lines          3
Internet Service        3
Online Security         3
Online Backup           3
Device Protection       3
Tech Support            3
Streaming TV            3
Streaming Movies        3
Contract                3
Paperless Billing       2
Payment Method          4
Monthly Charges      1585
Total Charges        6531
Churn Label             2
Churn Value             2
Churn Score            85
CLTV                 3438
Churn Reason           20
dtype: int64

### We dicided to remove country and state because they have the same value and they are the same ( United States ,  California ) , also for count which has the same value 1 .

In [8]:
df.drop(['Count','Country','State','City'],inplace = True, axis = 1)

### The CustomerID is unique for each customer , has no meaningful impact on our classification model

In [9]:
df.drop(['CustomerID'],inplace = True, axis = 1)

In [10]:
df.isna().mean()

Zip Code             0.00000
Lat Long             0.00000
Latitude             0.00000
Longitude            0.00000
Gender               0.00000
Senior Citizen       0.00000
Partner              0.00000
Dependents           0.00000
Tenure Months        0.00000
Phone Service        0.00000
Multiple Lines       0.00000
Internet Service     0.00000
Online Security      0.00000
Online Backup        0.00000
Device Protection    0.00000
Tech Support         0.00000
Streaming TV         0.00000
Streaming Movies     0.00000
Contract             0.00000
Paperless Billing    0.00000
Payment Method       0.00000
Monthly Charges      0.00000
Total Charges        0.00000
Churn Label          0.00000
Churn Value          0.00000
Churn Score          0.00000
CLTV                 0.00000
Churn Reason         0.73463
dtype: float64

### 73 % of Churn Reason values are missing that's why we dicided to remove it

In [11]:
df.drop(['Churn Reason'],inplace = True, axis = 1)

### Churn Label and Churn Value are the same just in different representation , we decided to keep churn value because of its numerical nature

In [12]:
print(pd.get_dummies(df['Churn Label'])[pd.get_dummies(df['Churn Label'])['Yes']==df['Churn Value']].sum())
df.drop(['Churn Label'],inplace = True, axis = 1)

No     5174
Yes    1869
dtype: int64

### Lat Long is the concatenation of latitude and longitude

In [13]:
df.drop(['Lat Long'],inplace = True, axis = 1)

### We noticed that total charges is of types object so we converted to float  
### We also decided to remove the 11 missing values because they are irrelevant compared to the total data

In [14]:
lesId = list()
for cle,value in df['Total Charges'].iteritems():
    if type(value) not in (int,float):
        lesId.append(cle)
x = df[['Total Charges','Monthly Charges','Contract','Tenure Months','Churn Value']]
x.loc[lesId,:]

     Total Charges  Monthly Charges  Contract  Tenure Months  Churn Value
2234                          52.55  Two year              0            0
2438                          20.25  Two year              0            0
2568                          80.85  Two year              0            0
2667                          25.75  Two year              0            0
2856                          56.05  Two year              0            0
4331                          19.85  Two year              0            0
4687                          25.35  Two year              0            0
5104                          20.00  Two year              0            0
5719                          19.70  One year              0            0
6772                          73.35  Two year              0            0
6840                          61.90  Two year              0            0

In [15]:
df.drop(lesId,axis = 0,inplace = True)
df['Total Charges'] = df['Total Charges'].astype('float')

In [16]:
df.drop(['Latitude','Longitude','CLTV','Churn Score'],inplace = True, axis = 1)

In [17]:
df.info()
df.to_csv('Churn_vis.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
Zip Code             7032 non-null int64
Gender               7032 non-null object
Senior Citizen       7032 non-null object
Partner              7032 non-null object
Dependents           7032 non-null object
Tenure Months        7032 non-null int64
Phone Service        7032 non-null object
Multiple Lines       7032 non-null object
Internet Service     7032 non-null object
Online Security      7032 non-null object
Online Backup        7032 non-null object
Device Protection    7032 non-null object
Tech Support         7032 non-null object
Streaming TV         7032 non-null object
Streaming Movies     7032 non-null object
Contract             7032 non-null object
Paperless Billing    7032 non-null object
Payment Method       7032 non-null object
Monthly Charges      7032 non-null float64
Total Charges        7032 non-null float64
Churn Value          7032 non-null int64
dtypes: float64(2), int64(3), object(16)
memory usage: 1.2+ MB